* {
    margin: 0;
    font-family: 'Roboto';
}

.nav-custom {
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
}

.button-nav {
    height: 64px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    box-shadow: none;
    border-radius: 0%;
    font-size: 16px;
}

.button-nav:hover {
    box-shadow: none;
}

.button-nav i {
    height: 24px;
    font-size: 24px !important;
    line-height: normal;
}

.button-nav .user {
    height: 48px;
    font-size: 48px !important;
    line-height: normal;
}

.container-div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 30px 100px;
    gap: 50px;
}

.search-bar {
    height: 64px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0px;
    min-width: 1000px;
}

.search-button {
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    border-radius: 0%;
    box-shadow: none;
}

.search-button:hover,
.search-button:focus {
    box-shadow: none;
}

.search-button i {
    font-size: 32px;
}

.search-button .button-text {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: flex-start;
    gap: 0px;
}

.search-button p {
    height: 20px;
}

.procard-image {
    overflow: hidden;
    height: 150px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.procard-content {
    padding: 10px !important;
}

.procard-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px !important;
}

.procard-price {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px !important;
}

.procard-details {
    display: flex;
    gap: 10px;
}

.procard-details-div {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 4px;
}

.procard-details-div i {
    font-size: 16px;
}

.procard-details-div p {
    font-size: 12px;
}

.footer-div {
    height: 240px;
    background-color: black;
    padding: 30px 100px;
}

.intro-top-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.intro-top-bar a {
    display: flex;
    gap: 10px;
}

.intro-top-bar i {
    font-size: 32px;
}

.intro-div {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    background: url("../img/1x/homepage-img1.png");
    width: 100%;
    padding: 50px 100px 50px 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-div h2 {
    font-family: 'Saira Condensed';
    font-weight: bold;
    margin: 0;
}

.intro-div .first-text {
    color: #FFFFFF
}

.intro-div .second-text {
    color: #F2AF48
}

.showcase-property {
    display: flex;
    flex-flow: column nowrap;
    padding: 25px 0px 25px 100px;
    gap: 10px;
    width: 100%;
}

.showcase-property h5 {
    font-weight: 500;
}

.slide-card {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    white-space: nowrap;
    width: calc(100vw - 200px)
}

.slide-card .card {
    height: 260px;
    min-width: 313px;
}

.agent-promote {
    padding: 50px 0px 50px 100px;
    background: url("../img/1x/homepage-img2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.agent-promote h2 {
    font-family: 'Saira Condensed';
    font-weight: bold;
    margin: 0;
}

.agent-promote h5 {
    font-family: 'Saira Condensed';
    font-weight: 400;
    margin: 0;
}

.agent-promote .first-text {
    color: #242D5A
}

.agent-promote .second-text {
    color: #FFFFFF
}